
body {
  background: #69d2fc;
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
  
 buttons{
    align-content: flex-start;
 }

 principals{
    font-size: larger;
    align-content: center;
    text-align: center;
    flex: content;
 }

 .container{
  background: #69d2fc;

  background: -webkit-linear-gradient(to right, rgb(93, 170, 241), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(79, 89, 224), rgba(37, 117, 252, 1))

}
